# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments and credentials
.env
.venv
venv/
ENV/
env/

# Gradio cache
.gradio/

# Audio files generated/used during testing
*.mp3

# Image files
*.webp
*.png
*.jpg
*.jpeg
*.gif

# IDEs / Editors
.vscode/
.idea/
